---
layout: "layouts/category.njk"
title: Climbing
category_index: climbing
---
<div class="row mt-4">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Climbing <small>and other such chatter</small></h1>
    </div>
    <p>Here are all my ramblings about climbing.
      Well not just climbing; I've basically lumped any blog posts about "adventure sports"
      here. Climbing summer/winter is going to form the main bulk of the content with some
      posts about skiing, kayaking, cycing and triathlon.</p>
      <hr/>
  </div>
</div>
