<table>
    {%- for issue in collections.issues -%}
        <tr>
            <td>{{ issue.data.id }}</td>
            <td><a href="{{ issue.data.gitlab_url }}">{{ issue.data.title }}</a></td>
            <td>{{ issue.data.date }}</td>
            <td>{%- for tag in issue.data.tags -%}"{{ tag }}" {% endfor -%}</td>
            <td><a href="{{ issue.data.author.url }}">{{ issue.data.author.name }}</a></td>
            {% # issue.data.content %}
            <td>👍 {{ issue.data.upvotes }} 👎 {{ issue.data.downvotes }}</td>
        </tr>
    {%- endfor -%}
    </table>
    