---
layout: naked
---
<div class="row mt-4">
  <meta itemprop="name" content="{{ site.name }}" />
  <div class="col-xs-12">
    <div class="page-header">
      <!-- a class="btn btn-danger btn-lg pull-right" href="http://stackoverflow.com/cv/msyea">Hire Me</a -->
      <h1 itemprop="keywords" class="display-6">Simon Mayes<span class="fs-4"> - Climber and Software Engineer</span></h1>
      <div class="d-none" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Simon Mayes" />
      </div>
    </div>
    <hr/>
    
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="home-main col-xs-12">
        <div itemprop="blogPost" itemid="{{ site_url }}{{ collections.firstPost.url }}" itemscope itemtype="http://schema.org/BlogPosting">
          <h2 itemprop="name"><a href="{{ site_url }}{{ collections.firstPost.url }}" itemprop="url mainEntityOfPage">{{ collections.firstPost.data.title }}</a></h2>
          <meta itemprop="headline" content="{{ collections.firstPost.page.excerpt | newline_to_br | replace: '<br />', ' ' | strip_html | strip_newlines | strip | truncatewords:20 }}" />
          {% if collections.firstPost.data.image %}<div class="d-none" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <img itemprop="url" src="{{ collections.firstPost.data.image }}" alt="{{ collections.firstPost.title }}" />
          </div>{% endif %}
          <p><time class="badge text-bg-secondary" itemprop="datePublished dateModified" datetime="{{ collections.firstPost.date | date_to_xmlschema }}">{{ collections.firstPost.date | date_to_long_string }}</time>
            {% for category in collections.firstPost.data.category %}<a class="badge text-bg-primary" href="/{% if my_categories contains category %}{{ category }}{% else %}other{% endif %}" itemprop="keywords">{{ category }}</a> {% endfor %}
            {% for tag in collections.firstPost.data.tags %}<a class="badge text-bg-info" href="/tag/{{ tag }}" itemprop="keywords">{{ tag }}</a> {% endfor %}
            <span itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
            by <a itemprop="name" href="{{ site_url }}">Simon Mayes</a> (<a href="https://gitlab.com/msyea">@msyea</a>)
            </span>
          </p>
          <div itemprop="articleBody">
            {{ collections.firstPost.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Recent posts</h4>
    <ul class="homepage-list list-unstyled">
      {% for post in collections.posts %}
      <li><a href="{{ site_url }}{{ post.url }}">{{ post.data.title }}</a> {% for category in post.data.category %}<a class="badge text-bg-primary pull-right" href="/{% if my_categories contains category %}{{ category }}{% else %}other{% endif %}">{{ category }}</a> {% endfor %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="class-md-12">
    {% assign tp = collections.posts | size | minus:1 %}
    <nav aria-label="Page navigation" class="text-center">
      <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">Previous</span>
          </li>
          {% for i in (0..tp) %}
            <li class="page-item {% if collections.firstPost.url == collections.posts[i].url %}active{% endif %}"><a class="page-link" href="{% if i == 0 %}/{% else %}{{ collections.posts[i].url }}{% endif %}">{{ i | plus:1 }}</a></li>
            {% endfor %}
        <li class="page-item">
          <a class="page-link" href="{{ collections.posts[1].url }}" aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
