---
layout: naked
title: Links
---
<div class="row mt-4">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Links</h1>
      </div>
      <p>Here's a random collection of links. There's no rhyme nor reason but there were of interest to me
        at some point.</p>
    <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Latest links</h2>
  <ul class="list-unstyled">
  {% for link in collections.links %}
    <li class="media">
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ link.data.link }}">{{ link.data.title }}</a></h4>
        <p><span class="badge text-bg-secondary">{{ link.date | date_to_long_string }}</span>
          {% if link.data.category %}<a class="badge text-bg-primary" href="/{% if link.data.category in my_categories  %}{{ link.data.category }}{% else %}other{% endif %}" itemprop="keywords">{{ link.data.category }}</a>{% endif %}
          {% for tag in link.data.tags %}<a class="badge text-bg-info" href="/tag/{{ tag }}" itemprop="keywords">{{ tag }}</a> {% endfor %}
          </p>
        <p><a href="{{ link.data.link }}" class="link-hidden">{{ link.data.link }}</a></p>
      </div>
    </li>
  {% endfor %}
  </ul>
    </div>
  </div>