---
layout: "layouts/category.njk"
title: Other
category_index: other
---
<div class="row mt-4">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Other <small>apparently somethings aren't climbing or software</small></h1>
    </div>
    <hr/>
  </div>
</div>