---
title: Roundel
sitemap: false
---

<div class="roundel"><div class="ring"><div class="centre"></div></div></div>
<div class="flag"><div class="ring"><div class="centre"></div></div></div>
<div class="flash"><div class="ring"><div class="centre"></div></div></div>

<p><a href="https://color.adobe.com/MutePlayRewind-color-theme-134709/">https://color.adobe.com/MutePlayRewind-color-theme-134709/</a></p>

<div class="cream-background">cream<br/>#FFF8DC</div>
<div class="maroon-background">maroon<br/>#800000</div>
<div class="blue-background">blue<br/>#191970</div>
<div class="green-background"><a href="https://en.wikipedia.org/wiki/British_racing_green"><b>BRG</b></a><br/>#0A2416</div>
<div class="black-background">black<br/>#2F4F4F</div>
<p><b>Bold</b> colours are decided on. Others are flexible.</p>
<p>
  <h3>Inspiration</h3>
  <p>I like the simplity of roundels. Happy for similar or defaced roundels (see bottom). I don't even like the airforce!</p>
  <ul class="list-unstyled">
    <li><a href="http://www.rapha.cc">Rapha</a> - I like the usage of pink/white/black.</li>
    <li><a href="http://teamwiggins.co/">Team Wiggins</a> - I like the usage of the roundel.</li>
  </ul>
</p>

<div class="experiment cream-background">
  <div class="bar green-background">
    <ul class="list-inline">
      <li>One</li>
        <li>Two</li>
          <li>Three</li>
        </ul>
  </div>
  <div class="bar maroon-background">
    <ul class="list-inline">
      <li>One</li>
        <li>Two</li>
          <li>Three</li>
        </ul>
  </div>
  <div class="bar blue-background">
    <ul class="list-inline">
      <li>One</li>
        <li>Two</li>
          <li>Three</li>
        </ul>
  </div>
  <div class="contents">
  <h4>Some Header</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
    in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="thumbnail">
  <img src="/assets/img/roundels.png">
  <div class="caption">
    Source: <a href="https://en.wikipedia.org/wiki/Roundel">https://en.wikipedia.org/wiki/Roundel</a>
  </div>
</div>
<p><img class="img-thumbnail" src="https://sheilapontis.files.wordpress.com/2013/01/102-tfl_roundels.jpg"></p>
<p><img class="img-thumbnail" src="http://www.infohow.org/wp-content/uploads/2012/11/Air-Force-Roundels.jpg"></p>
