---
layout: naked
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tag/{{ tag | slug }}/
eleventyComputed:
  title: "Posts tagged with {{ tag }}"
---
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 itemprop="name">Tag: <span class="badge text-bg-info">{{ tag }}</span></h1>
    </div>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Latest blog posts</h2>
      {% for post in collections.all %}
    {% if post.data.tags and tag in post.data.tags %}
  <div class="media technology" itemid="{{ post.id }}" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="media-body">
      <h2 class="media-heading" itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.data.title }}</a></h2>
      <p><time class="badge text-bg-secondary" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string}}</time>
        {% if post.data.category in my_categories %}<a class="badge text-bg-primary" href="/{% if post.data.category in my_categories %}{{ post.data.category }}{% else %}other{% endif %}">{{ post.data.category }}</a> {% endif %}
        {% for tag in post.data.tags %}<a class="badge text-bg-info" href="/tag/{{ tag }}" itemprop="keywords">{{ tag }}</a> {% endfor %}
        <span itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
        by <a itemprop="name" href="{{ site.url }}">Simon Mayes</a> (<a href="https://gitlab.com/msyea">@msyea</a>)
        </span>
      </p>
      <div itemprop="description">{{ post.page.excerpt | md | safe }}</div>
    </div>
  </div>
    {% endif %}
  {% endfor %}
  </div>
</div>