---
layout: "layouts/category.njk"
title: Technology
category_index: technology
---
<div class="row mt-4">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Technology <small>and other such noise</small></h1>
    </div>
    <p>I'm a software engineer by trade, specialising in node.js and backend technology. That will be my focus
      but I also run the business, so I might post some business chat too.</p>
      <hr/>
  </div>
</div>