<footer itemscope itemtype="http://schema.org/WPFooter">
  <div class="container">
    <p class="text-center text-muted">&copy; <a href="{{ site_url }}">Simon Mayes</a> 2002 - 2024. All Rights Reserved.<br>
       <a class="badge text-bg-light" href="https://twitter.com/msyea"><i class="bi bi-twitter"></i> Follow @msyea</a>
       <a class="badge text-bg-light" href="https://gitlab.com/msyea"><i class="bi bi-gitlab"></i> Follow @msyea</a>
      </p>
  </div>
</footer>
