<header itemscope itemtype="http://schema.org/WPHeader">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <a class="navbar-brand" href="/" itemprop="url"><span itemprop="name">{{ site_name }}</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="site-nav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for category in my_categories %}
          <li class="nav-item" itemscope itemtype="http://schema.org/SiteNavigationElement"><a class="nav-link {% if page.categories in category or page.url == "/" + category + "/" %} active{% endif %}" href="/{{ category }}" itemprop="url"><span itemprop="name">{{ category | capitalize }}</span></a></li>
          {% endfor %}
          <li class="nav-item" itemscope itemtype="http://schema.org/SiteNavigationElement"><a class="nav-link {% if page.categories in 'other' or page.url == '/other/' %} active{% endif %}" href="/other" itemprop="url"><span itemprop="name">Other</span></a></li>
          <li class="nav-item" itemscope itemtype="http://schema.org/SiteNavigationElement"><a class="nav-link {% if page.categories in 'links' or page.url == '/links/' %} active{% endif %}" href="/links" itemprop="url"><span itemprop="name">Links</span></a></li>
          <li class="nav-item"><a class="nav-link" href="https://news.ycombinator.com/favorites?id=msyea"><span itemprop="name">HN Favourites</span></a></li>
          <!-- li><a href="/me.html">About</a></li -->
        </ul>
        {% if page.name != 'index.html' %}
          <!-- a class="btn btn-danger navbar-btn navbar-right" href="http://stackoverflow.com/cv/msyea">Hire Me</a -->
        {% endif %}
        <form id="search" class="d-flex" role="search" action="/search/">
            <input class="form-control me-2" type="search"  name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success d-flex align-items-center" type="submit"><i class="bi bi-search"></i><span class="visually-hidden">Submit</span></button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</header>
