<script src="/js/bundle.js"></script>
<script src="https://unpkg.com/@gitlab/application-sdk-browser/dist/gl-sdk.min.js"></script>
<script>window.glClient = window.glSDK.glClientSDK({
    appId: '93a8636c-d076-4122-a603-c125ce5be274',
    host: 'https://collector.prod-1.gl-product-analytics.com',
});
// Tracks the current page view
window.glClient.page();
</script>