---
layout: naked
---
{{ content | safe }}
<div class="row">
  <div class="col-md-12">
    <h2>Latest blog posts</h2>
    {% set empty = true %}
    {% for post in collections.allByDate %}
    {% if post.data.category and category_index == post.data.category or (post.data.category and category_index == "other" and post.data.category not in my_categories) %}
    {% set empty = false %}
  <div class="media {{ category_index }}" itemid="{{ site_url }}{{ post.url }}" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="media-body">
      <h3 class="media-heading" itemprop="name"><a href="{{ site_url }}{{ post.url }}" itemprop="url mainEntityOfPage">{{ post.data.title }}</a></h3>
      {% if post.data.image %}<div class="d-none" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <img itemprop="url" src="{{ post.data.image }}" alt="{{ post.data.title }}" />
      </div>{% endif %}
      <p><time class="badge text-bg-secondary" itemprop="datePublished dateModified" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string}}</time>
          {% if post.data.category %}<a class="badge text-bg-primary" href="/{% if post.data.category in my_categories  %}{{ post.data.category }}{% else %}other{% endif %}" itemprop="keywords">{{ post.data.category }}</a>{% endif %}
          {% for tag in post.data.tags %}<a class="badge text-bg-info" href="/tag/{{ tag }}" itemprop="keywords">{{ tag }}</a> {% endfor %}
          <span itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
            by <a itemprop="name" href="{{ site_url }}">Simon Mayes</a> (<a href="https://gitlab.com/msyea">@msyea</a>)
            </span>
            {{ post.page.excerpt | md | safe }}
      </p>
    </div>
  </div>
  {% endif %}
{% endfor %}
{% if empty %}
<div class="media">
  <div class="media-body">
      No posts tagged with <a class="badge text-bg-primary" href="/{{ category_index }}" itemprop="keywords">{{ category_index }}</a>
      </div>
  </div>
{% endif %}
  </div>
</div>
