<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% include "css.njk" %}
  </head>
  <body>
    {% include "header.njk" %}
    <div id="main-container" class="container">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% set breadcrumbs = 1 %}
    {% if category %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/{% if category in my_categories %}{{ category }}{% else %}other{% endif %}" itemprop="item">{{ category }}</a>
          <meta itemprop="position" content="{{ breadcrumbs }}" />
        </li>
        {% set breadcrumbs = breadcrumbs + 1 %}
      {% endif %}
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="item">{{ title }}</span>
          <meta itemprop="position" content="{{ breadcrumbs }}" />
        </li>
      </ol>
      </nav>
      <div itemid="{{ site_url }}{{ page.url }}" {% if page.id %}itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"{% else %}itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement"{% endif %}>
        <div class="row">
          <div class="col-xs-12 page-header">
            <h1 itemprop="name">{{ title }}</h1>
            <meta itemprop="mainEntityOfPage" content="{{ site_url }}{{ page.url }}" />
            <meta itemprop="headline" content="{{ page.excerpt }}" />
            {% if image %}<div class="d-none" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
              <img itemprop="url" src="{{ image }}" alt="{{ title }}" />
            </div>{% endif %}
            <p>{% if page.date %}<time class="badge text-bg-secondary" itemprop="datePublished dateModified" datetime="{{ page.date | date_to_xmlschema}}">{{ page.date | date_to_long_string}}</time>{% endif %}
              {% if category %}<a class="badge text-bg-primary" href="/{% if category in my_categories  %}{{ category }}{% else %}other{% endif %}" itemprop="keywords">{{ category }}</a> {% endif %}
              {% for tag in tags %}<a class="badge text-bg-info" href="/tag/{{ tag }}" itemprop="keywords">{{ tag }}</a> {% endfor %}
              <span itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
              by <a itemprop="name" href="{{ site_url }}">Simon Mayes</a> (<a href="https://gitlab.com/msyea">@msyea</a>)
              </span>
            </p>
          </div>
        </div>
        {% if page.url %}
        <div itemprop="articleBody">
          {{ content | safe }}
        </div>
        {% else %}
          {{ content }}
        {% endif %}
        {% if flase and album %}
        <p class="text-right"><a href="https://www.flickr.com/photos/msyea/albums/{{ album }}" title="See my photos on Flickr!"><img src="https://s.yimg.com/pw/images/goodies/black-see-my-photos.png" width="147" height="26" alt=""></a></p>
        <div id="gallery" class="carousel slide" data-ride="carousel" data-id="{{ album }}">
          <ol class="carousel-indicators"></ol>
          <div class="carousel-inner" role="listbox"></div>

          <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="row">
  <div class="class-md-12">
    {% set tp = collections.posts | length %}
    <nav aria-label="Page navigation" class="text-center">
      <ul class="pagination justify-content-center">
        {% set page_index = 0 %}
          {% for i in range(0, tp) %}
          {% if page.url == collections.posts[i].url %}
          {% set page_index = i %}
          {% endif %}
          {% endfor %}
          <li class="page-item {% if collections.posts[page_index - 1] == undefined %}disabled{% endif %}"><a class="page-link" {% if collections.posts[page_index - 1] %}href="{{ collections.posts[page_index - 1].url }}"{% endif %}>Previous</a></li>
          {% for i in range(0, tp) %}
          {% if page.url == collections.posts[i].url %}
          {% endif %}
            <li class="page-item {% if page.url == collections.posts[i].url %}active{% endif %}"><a class="page-link" href="{% if i == 0 %}/{% else %}{{ collections.posts[i].url }}{% endif %}">{{ i + 1 }}</a></li>
            {% endfor %}
        <li class="page-item {% if collections.posts[page_index + 1] == undefined %}disabled{% endif %}"><a class="page-link" {% if collections.posts[page_index + 1] %}href="{{ collections.posts[page_index + 1].url }}"{% endif %}>Next</a></li>
      </ul>
    </nav>
  </div>
</div>
    </div>
    </div>
    {% include "footer.njk" %}
    {% include "scripts.njk" %}
  </body>
</html>