<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% include "css.njk" %}
  </head>
  <body>
    {% include "header.njk" %}
    <div id="main-container" class="container">
    {{ content | safe }}
    </div>
    {% include "footer.njk" %}
    {% include "scripts.njk" %}
  </body>
</html>